<div id="container">
  <h1 id="header">SpaceX Launches</h1>

  <div id="table-container" class="mat-elevation-z8">
    <div *ngIf="loading" id="loading-shade">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <table id="launch-table" mat-table [dataSource]="dataSource" matSort [matSortDirection]="params.order"
      [matSortActive]="params.sort">

      <!-- Flight Number Column -->
      <ng-container matColumnDef="flight_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight Number </th>
        <td mat-cell *matCellDef="let row"> {{row.flight_number}} </td>
      </ng-container>

      <!-- Launch Year Column -->
      <ng-container matColumnDef="launch_year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Launch Year </th>
        <td mat-cell *matCellDef="let row"> {{row.launch_year}} </td>
      </ng-container>

      <!-- Rocket Column -->
      <ng-container matColumnDef="rocket_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rocket </th>
        <td mat-cell *matCellDef="let row"> {{row.rocket?.rocket_name}} </td>
      </ng-container>

      <!-- Details Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let row"> {{row.details}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openPresskit(row)">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
  </div>
</div>
